<div class="modal fade" id="loading_modal" style="z-index: 500; ">
    <div class=" modal-content" style="z-index: 9999; width: 50%; margin: 0 auto;">
    <div class="modal-body">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Ładowanie...
        </div>
    </div>
    <div class="modal-footer"></div>
</div>
</div>
